*/src_to_implement_pranto/__pycache__/
*/src_to_implement_pranto/.venv
*/src_to_implement_pranto/.DS_Store
.DS_Store

*/src_to_implement/__pycache__/
*/src_to_implement/.venv
*/src_to_implement/.DS_Store

*/src_to_implement_sujit/__pycache__/

*/src_to_implement/Layers/__pycache__/
*/src_to_implement/Optimization/__pycache__/

log.txt